altgraph==0.17
astroid==2.5.1
autopep8==1.5.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
flake8==3.8.4
Flask==1.1.2
future==0.18.2
idna==2.10
isort==5.7.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.3
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
parso==0.7.1
pefile==2019.4.18
pluggy==0.13.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.7.2
PySide2==5.15.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pywin32-ctypes==0.2.0
rarfile==4.0
requests==2.25.1
rope==0.18.0
samp-client==3.0.1
shiboken2==5.15.2
snowballstemmer==2.1.0
toml==0.10.2
ujson==4.0.2
unrar==0.4
urllib3==1.26.3
Werkzeug==1.0.1
wrapt==1.12.1
yapf==0.31.0
